<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="geckofx-core" version="33.0.5.1" targetFramework="net472" />
  <package id="Geckofx-Core-45.0.36.02" version="45.0.36" targetFramework="net472" />
  <package id="geckofx-winforms" version="33.0.5.1" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.3912.50" targetFramework="net472" />
</packages>